<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
">

    <!--spring-mvc config-->
    <context:component-scan base-package="com.tabwu.health.controller"></context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>

    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--dubbo config-->
    <dubbo:application name="health_mobile"></dubbo:application>

    <dubbo:registry address="zookeeper://123.57.193.24:2181"></dubbo:registry>

    <dubbo:annotation package="com.tabwu.health.controller"></dubbo:annotation>

    <dubbo:consumer timeout="600000"></dubbo:consumer>

    <!-- redis config-->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="50"></property>
        <property name="minIdle" value="10"></property>
        <property name="maxTotal" value="200"></property>
        <property name="testOnBorrow" value="true"/>
        <property name="testOnReturn" value="true"/>
    </bean>
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="poolConfig" ref="poolConfig"></constructor-arg>
        <constructor-arg name="host" value="localhost"></constructor-arg>
        <constructor-arg name="port" value="6379" type="int"></constructor-arg>
        <constructor-arg name="timeout" value="3000" type="int"></constructor-arg>
    </bean>
</beans>