<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--

    &lt;!&ndash; 注册自定义Job &ndash;&gt;
    <bean id="jobDemo" class="com.tabwu.health.qaurtz.DeleteImgFromQiNiuTime"></bean>
     &lt;!&ndash; 注册JobDetail,作用是负责通过反射调用指定的Job &ndash;&gt;
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
         &lt;!&ndash;注入目标对象&ndash;&gt;
        <property name="targetObject" ref="jobDemo"/>
         &lt;!&ndash;注入目标方法 &ndash;&gt;
        <property name="targetMethod" value="deleteImg"/>
    </bean>
     &lt;!&ndash;注册一个触发器，指定任务触发的时间 &ndash;&gt;
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
         &lt;!&ndash;注入JobDetail &ndash;&gt;
        <property name="jobDetail" ref="jobDetail"/>
         &lt;!&ndash;指定触发的时间，基于Cron表达式 &ndash;&gt;
        <property name="cronExpression">
            <value>0 0 0 L * ? *</value>
        </property>
    </bean>
     &lt;!&ndash;注册一个统一的调度工厂，通过这个调度工厂调度任务 &ndash;&gt;
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
         &lt;!&ndash;注入多个触发器&ndash;&gt;
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>
-->

</beans>