<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tabwu.health.mapper.SetmealMapper">
    <select id="getSetmeal" parameterType="string" resultType="com.tabwu.health.entity.Setmeal">
        select id,name,code,helpCode,sex,age,price,remark,attention,img from t_setmeal
        <if test="name != null and code != null and helpCode != null">
            where name = #{name} or code = #{code} or helpCode = #{helpCode}
        </if>
    </select>

    <insert id="addSetmeal" parameterType="com.tabwu.health.entity.Setmeal">
        insert into t_setmeal(name,code,helpCode,sex,age,price,remark,attention,img)
        values
        (#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
    </insert>


    <select id="getAllSetmeal" resultType="com.tabwu.health.entity.Setmeal">
        select * from t_setmeal
    </select>


    <resultMap type="com.tabwu.health.entity.Setmeal" id="baseResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="price" property="price"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
        <result column="img" property="img"/>
    </resultMap>
    <resultMap type="com.tabwu.health.entity.Setmeal"
               id="findByIdResultMap"
               extends="baseResultMap">
        <collection property="checkGroups"
                    javaType="ArrayList"
                    ofType="com.tabwu.health.entity.CheckGroup"
                    column="id"
                    select="com.tabwu.health.mapper.CheckGroupMapper.findCheckGroupById">
        </collection>
    </resultMap>
    <select id="getSetmealById" resultMap="findByIdResultMap">
        select * from t_setmeal  where id=#{id}
    </select>


    <select id="getSetmealById_mobile" resultType="com.tabwu.health.entity.Setmeal" parameterType="int">
        select * from t_setmeal  where id=#{id}
    </select>
</mapper>