<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
">

    <!-- 注册自定义Job -->
    <bean id="jobDeleteImg" class="com.tabwu.health.qaurtz.DeleteImgFromQiNiuTime"></bean>
     <!-- 注册JobDetail,作用是负责通过反射调用指定的Job -->
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
         <!--注入目标对象-->
        <property name="targetObject" ref="jobDeleteImg"/>
         <!--注入目标方法 -->
        <property name="targetMethod" value="deleteImg"/>
    </bean>
     <!--注册一个触发器，指定任务触发的时间 -->
    <bean id="myTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
         <!--注入JobDetail -->
        <property name="jobDetail" ref="jobDetail"/>
         <!--指定触发的时间，基于Cron表达式 -->
        <property name="cronExpression">
            <value>0 0 0 L * ? *</value>
        </property>
    </bean>
     <!--注册一个统一的调度工厂，通过这个调度工厂调度任务 -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
         <!--注入多个触发器-->
        <property name="triggers">
            <list>
                <ref bean="myTrigger"/>
            </list>
        </property>
    </bean>


    <dubbo:application name="health_comsumer"></dubbo:application>

    <dubbo:registry address="zookeeper://123.57.193.24:2181"></dubbo:registry>

    <dubbo:annotation package="com.tabwu.health.qaurtz"></dubbo:annotation>

    <dubbo:consumer timeout="600000"></dubbo:consumer>


</beans>